@import "bootstrap";

pre {
  display: block;
  font-size: 75%;
  color: #e83e8c;
  word-break:
  break-word;
  padding: 15px;
  background-color: #f1f2f3;
  border: 1px solid #ced4da;
  border-radius: 12px;
}

a:hover {
  text-decoration: none;
}
